
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Recipe Minigames</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h2>🎮 Recipe Quiz Game</h2>

    <div class="quiz-box">

        <h3 id="question">
            Loading question...
        </h3>

        <div id="answers"></div>

        <p class="score-text">
            Score:
            <span id="score">0</span>
        </p>

    </div>

    <button onclick="window.location.href='/'">
        ⬅ Back Home
    </button>

</div>

<script src="{{ url_for('static', filename='game.js') }}"></script>

</body>
</html>



