body {
    display: flex;         
    align-items: center;   
    justify-content: center; 
    min-height: 100vh;  
    background: radial-gradient(circle at center, white, white);
    font-family: 'Georgia', serif, monospace;
}

canvas {
    border: 3px solid white;
    background: white;
    cursor: pointer;
}

button {
    display: block;
    margin-top: 20px;
    margin-left: 50px;
    padding: 10px 20px;
    font-size: 18px;
    background: pink;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: pink;
    transform: scale(1.05);
}

.score {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
}

* {
    text-align: center;
}